body {
    background-color: rgb(130, 200, 130);
    transition: background-color 60s;
}

body:hover {
    background-color: rgb(100, 90, 200);
}

h1, h2 {
    font-family: Courier, monospace;
    font-size: 35px; 
    text-align: center;
}

.boxen {
    overflow: scroll;
    text-align: center;
    justify-content: center;
    margin: 5px;
    border: 5px solid navy;
    padding: 10px;
}

.generatedText {
    font-size: 48px;
    color: black;
    height: 140px;
    align-items: center;
}

p {
    display: inline-flex;
    padding-right: 30px;
}

.button {
    border-radius: 10px;
    background-color: rgb(150, 200, 215);
    height: 40px;
    width: 150px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(150, 200, 235);
}

.button:active {
    background-color: rgb(150, 200, 255);
}

.button:focus {
    outline: 0px;
}
